<launch>

    <node name="foo" pkg="xbot_talker" type="setCacheFile.sh" output="screen" />

    <!-- asr module -->
    <include file="$(find xbot_talker)/launch/asr_module.launch">
    </include>

    <!-- nlp module -->
    <include file="$(find xbot_talker)/launch/nlp_module.launch">
    </include>
    
    <!-- tts module -->
    <include file="$(find xbot_talker)/launch/tts_module.launch">
    </include>

</launch>
